.chartContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.chartTitle {
    font-family: "JetBrains Mono", monospace;
    font-weight: 400;
    color: #858585;
    font-size: 1.25rem;
    margin-bottom: 1rem;
}

.bar {
    cursor: pointer;
}
