* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #0F0F0F;
}

.grid {
    display: grid;
    grid-template-areas:
    "category header chart2"
    "category summary chart2"
    "category chart1 chart1";
    grid-template-columns: 2fr 4fr 3fr;
    grid-template-rows: auto 1fr 50%;
    height: 100vh;
    width: 100%;
    gap: 1rem;
    padding: 1rem;
}

.header {
    grid-area: header;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.header h1 {
    font-family: "Geist", sans-serif;
    font-weight: 800;
    color: #ffffff;
    font-size: 3rem;
}

.category-panel,
.summary,
.question-distribution-chart,
.difficulty-distribution-chart {
    background: rgba(255, 255, 255, 0.04);
    border: 1px solid rgba(255, 255, 255, 0.12);
    border-radius: 12px;
    padding: 1rem;
    width: 100%;
    height: 100%;
}

.category-panel {
    grid-area: category;
}

.summary {
    grid-area: summary;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.summary p {
    font-family: "JetBrains Mono", monospace;
    font-weight: 300;
    color: #ffffff;
}


.question-distribution-chart {
    grid-area: chart1;
}

.difficulty-distribution-chart {
    grid-area: chart2;
}